# Everything!
*/*
notes.txt
todo.txt

libraries
GxEPD2_Example

# Allow helpers through
!/libraries
!/libraries/Pins
!/libraries/WifiHelpers
!/libraries/WifiBtn

# Specific Files
!espBtn/*
# !SomeFile/*
